.attable {
  background-color: white;
}

.attable th {
  background-color: #463b3b;
  color: #fff;
  padding: 0.5em 1em;
}

.attable td {
  border: 1px solid black;
  padding: 0.5em 1em;
}

.attable input {
  cursor: pointer;
}

/* Column types */
.attable th.missed-col {
  background-color: #463b3b;
}

.attable td.missed-col {
  color: #015063;
  text-align: center;
}

.name-col {
  text-align: left;
}

.tape {
  overflow-x: scroll;
}
.sico1 {
  filter: invert(0.9) sepia(1) saturate(5) hue-rotate(175deg);
}
.modal-xl {
}
