body {
  justify-content: inherit !important;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.containerr {
  max-width: 100vw;
  min-width: 100vw;

  /* overflow: scroll; */
  display: flex;
}
.others {
  width: calc(100% - 265px);
  margin-left: 265px;
  /* margin: 3px; */
}
table {
  border-collapse: separate;
  border-spacing: 0 1em;
}
